body {
   font-family: "Poppins";
   /* font-family: "SF Compact"; */
}

a.btn-bd-login>span {
   background-color: #000;
   background-color: rgb(rgb(38, 0, 255), green, blue);
   color: white;
   padding: 5px 10px;
   font-weight: bold;
   border: 2px solid rgb(105, 105, 105);
   border-radius: 20px;
   transition: 0.3s;
}

a.btn-bd-login:hover>span {
   background-color: #fff;
   color: rgb(0, 0, 0);
   padding: 5px 10px;
   font-weight: bold;
   border: 2px solid #000;
}

span.btn-bd-logout {
   background-color: #000;
   color: white;
   padding: 5px 10px;
   font-weight: bold;
   border: 2px solid rgb(105, 105, 105);
   border-radius: 20px;
   transition: 0.3s;
}

span.btn-bd-logout:hover>span {
   background-color: #fff;
   color: rgb(0, 0, 0);
   padding: 5px 10px;
   font-weight: bold;
   border: 2px solid #000;
}

button.btn-reverse-outline-dark {
   background-color: #000;
   color: white;
   padding: 5px 10px;
   font-weight: bold;
   border: 2px solid rgb(105, 105, 105);
   border-radius: 20px;
   transition: 0.3s;
}

button.btn-reverse-outline-dark:hover {
   background-color: #fff;
   color: rgb(0, 0, 0);
   padding: 5px 10px;
   font-weight: bold;
   border: 2px solid #000;
}

.btn-new-data {
   margin: 0 0 1px 10px
}